/*about-us-sec*/

.about-us-sec{
    .text{
        max-width: 1060px;
        margin: 0 auto 44px;
    }
}
.gal-about{
    margin: 0 -15px 10px;
    text-align: center;
    font-size: 0;
    .gal-img{
        display: inline-block;
        width: 33%;
        padding: 0 15px;
        margin-bottom: 30px;
        @include bp(767){
            width: 50%;
        }
    }
}
/*about-us-sec end*/