/*aircraft*/
.aircraft{
    &__vid{
        margin-bottom: 35px;
    }
    &__title{
        color: #000000;
        font-size: 24px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
        @include bp(1199){
            font-size: 22px;
        }
        span{
            color: #999999;
            font-weight: 400;
            text-transform: none;

        }
    }
    &__spec{

    }
}
.spec-table{
    width: 100%;
    border: 1px solid #c9cdcf;
    font-size: 18px;
    color: #000000;
    margin-bottom: 50px;
    th{
        font-weight: 700;
        text-transform: uppercase;
        padding: 17px;
        border: 1px solid #c9cdcf;
        @include bp(1199){
            padding: 12px;
        }

    }
    tr{
        &:first-child{

            background-color: #f2f7fd;
        }
        td:first-child{
            color: #999999;
            width: 35%;
        }
    }
    td{
        border: 1px solid #c9cdcf;
        padding: 17px;
        @include bp(1199){
            padding: 12px;
            font-size: 16px;
        }
    }
    .list{
        ul{
            list-style:none;
            color: #000000;
            font-weight: 400;
            li{
                padding-left: 20px;
                position: relative;
                margin-bottom: 10px;
                &:before{
                    @include pseudo;
                    width: 5px;
                    height: 5px;
                    background-color: #0262df;
                    border-radius: 50%;
                    left: 0;
                    top: 5px;
                }
            }
        }
    }
}
/*aircraft end*/