/*banner*/
.banner{
    min-height: 730px;
    padding: 80px 0 0;
    background: url("../img/bg-banner.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
    @include bp(991){
        min-height: 1px;
        padding-bottom: 40px;
    }
    &__img{
        position: absolute;
        bottom: 0;
        right: 0;
        @media (max-width: 1599px){
            max-width: 700px;
        }
        @media (max-width: 1199px){
            display: none;
        }
    }
    &__text-holder{
        padding-top: 180px;
        max-width: 680px;
        @include bp(991){
            font-size: 30px;
            padding-top: 80px;
        }
    }
    .container{
        @media (max-width: 1199px){
            max-width: 680px;
            padding-left: 55px;
        }
    }
    &__title{
        position: relative;
        color: #000000;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 30px;
        @media (max-width: 1199px){
            font-size: 35px;
        }
        @include bp(991){
            font-size: 30px;

        }
        @include bp(767){
            font-size: 24px;

        }
    }
    &__title-decor{
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        overflow: hidden;
        bottom: calc(100% - 10px);
        right:calc(100% - 7px);
        &:before{
            @include pseudo;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 20px solid #0262df;
            left: 0;
            top: 0;
        }

    }
    &__subtitle{
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 30px;
    }
    &__butn{

    }

}
/*banner end*/