/*banner inner*/
.banner-inner{
    min-height: 280px;
    padding: 80px 0 0;
    background: url("../img/bg-banner.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
    @include bp(991){
        min-height: 1px;
        padding-bottom: 40px;
    }

    &__title{
        position: relative;
        color: #000000;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 30px;
        padding-top: 70px;
        text-align: center;
        @media (max-width: 1199px){
            font-size: 35px;
        }
        @include bp(991){
            font-size: 30px;

        }
        @include bp(767){
            font-size: 24px;

        }
    }
}
/*banner-inner end*/