/*buttons*/
.butn {
    display: inline-block;
    min-width: 183px;
    padding: 15px;
    background-color: #0262df;
    border: 2px solid #0262df;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    @include trans;
    &:hover, &:focus, &:active{
        color: #0262df;
        background-color: transparent;
        text-decoration: none;
    }
}

/*buttons end*/
