/*.call-to-action*/
.call-to-action {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/bg-solutions.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    &__butn{
        text-align: center;
        .butn{
            width: 100%;
            max-width: 268px;
        }
    }
    .text{
        margin-bottom: 40px;
    }
}
/*call-to-action end*/