main{


}

//.slider{
//    padding: 0 59px;
//    position: relative;
//    .slick-arrow {
//        cursor: pointer;
//        position: absolute;
//        top:0;
//        bottom: 0;
//        width: 59px;
//        z-index: 999;
//        color: #4f96d0;
//        font-size: 32px;
//        line-height: 1;
//        span{
//            position: absolute;
//            top: 50%;
//            left: 0;
//            right: 0;
//            margin-top: -16px;
//            text-align: center;
//        }
//        &:hover{
//            color:  #2ec47a;
//        }
//    }
//    .slick-arrow-right{
//        right: 0;
//    }
//    .slick-arrow-left{
//        left: 0;
//    }
//}
//
//.bread-crumb{
//    list-style: none;
//    margin-bottom: 57px;
//    .active{
//        text-decoration: none;
//        cursor: default;
//        color: red;
//        &:hover{
//            text-decoration: none;
//        }
//    }
//    li{
//        position: relative;
//        margin: 0 10px 0 0;
//        display: block;
//        float: left;
//        a{
//            color: #666;
//            line-height: 1;
//            display: block;
//            padding: 15px 0;
//            &:hover{
//                text-decoration: underline;
//            }
//        }
//    }
//    li + li {
//        padding-left: 15px;
//        &:before{
//            position: absolute;
//            content: '>';
//            margin: 13px 0;
//            left: 0;
//        }
//    }
//}