footer{
    background: #000;
    padding: 10px 0;
    .logo{
        margin-right: 30px;
    }

}
.footer__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bp(991){
        display: block;
        padding-bottom: 20px;
        position: relative;
    }
}
.footer__item{
    @include bp(991){
        text-align: center;
        margin-bottom: 20px;
        .logo{
            margin-right: 0;
        }
    }
}
.nav-main_footer{
    list-style:none;
    li{
        display: inline-block;
        margin-bottom: 10px;
    }
a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}
}
.soc_footer{
    margin-right: 0;
}
.copy{
    display: inline-block;
    color: #ffffff;
    @include bp(991){
        position: absolute;
        bottom: 4px;
        margin-bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
}
.close-x {
    top: 15px;
    right: 15px;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        top: 7px;
        left: -3px;
        background: #fff;
    }
    &:before{
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}