@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    &:active, &:focus{
        outline: none!important;
        text-decoration: none!important;
    }
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6,ul,ol{
    margin: 0;
    padding: 0;
}
.row-eq-height {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.clearfix:before, .clearfix:after{
    content: ' ';
    display: table;
    clear: both;
}
@media (min-width: 1600px){
    .container{
        width: 1560px;
    }
}
section{
    padding: 80px 0;
    @include bp(991){
        padding: 50px 0;
    }
}
.section-title{
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    @include bp(991){
        font-size: 35px;
    } @include bp(767){
        font-size: 26px;
    }
}
.link-re-mo{
    display: inline-block;
    color: #0262df;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-decoration: underline;
    &:hover, &:active, &:focus{
        color: #0262df;
        text-decoration: none;

    }
}
.text{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    h2{
        font-weight: 700;
        margin-bottom: 0;
        font-size: 18px;
    }
    p{
        margin-bottom: 50px;
    }
}
._wh{
    color: #ffffff;
}
._grey{
    color: #7c7f82;
}
._center{
    text-align: center;
}
.a-hidden{
    opacity:0;

}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    border:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text-section-title{
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
}
#map{
    height: 370px;
}
.map__contact{
    padding-top: 50px;
    width:100%;
    max-width: 304px;
    margin: 0 auto;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    a{
        color: #000000;
    }
}
.gal-img{
    margin-bottom: 50px;
    img {
        max-width: 100%;
    }
}
.center-butn-holder{
    text-align: center;
}