header {
    background: #000;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    height: 80px;
    &:after {
        @include pseudo;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #aeb6bc;
        height: 2px;
    }
}

.header-container {
    position: relative;
    padding-left: 200px;
    height: 100%;

}

.nav-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bp(1199) {
        display: none;

        position: absolute;
        top: 100%;
        background: #000;
        left: 0;
        width: 100%;
    }
    @include bp(1200) {
        display: flex!important;
    }
}

.logo-header {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    img {
        height: 63px;
        max-height: 100%;
    }
    @media (max-width: 1599px) {
        margin-right: 10px;
    }
}

.nav-main {
    list-style: none;

    > li {
        display: inline-block;
        position: relative;
        @include bp(1199){
            display: block;
            border-bottom: 2px solid;
            padding: 0 70px 0 30px;
            &.drop-list{
                &:before{
                    @include pseudo;
                    height: 18px;
                    width: 18px;
                    right: 30px;
                    top: 9px;
                    transform: rotate(45deg);
                    border-bottom: 2px solid #fff;
                    border-right: 2px solid #fff;

                }
                &.open{
                    &:before{
                        top: 20px;
                        transform: rotate(225deg);
                    }
                }
            }

        }
            + li {
            margin-left: 50px;
            @media (max-width: 1599px) {
                margin-left: 5px;
            }
        }

        > a {
            padding: 32px 15px;
            display: block;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            line-height: 1;
            position: relative;
            &:after {
                @include pseudo;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: #82cff5;
                z-index: 9;
                @include trans;
                opacity: 0;
            }
            &:hover {
                text-decoration: none;
                &:after {
                    opacity: 1;
                }
            }
            @include bp(1199){
                display: inline-block;
                padding: 15px;
                &:after {
                    display: none;
                }
            }
        }
        &.current {
            a:after {
                opacity: 1;
            }
        }
        > ul {
            position: absolute;
            list-style: none;
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            width: 191px;
            top: calc(100% - 2px);
            border-top: 2px solid #82cff5;;
            @include trans;
            z-index: 9;
            background: #000;
            padding: 0 30px 0;
            @include bp(1199){
                display: none;
                position: static;
                max-height: 600px;
                visibility: visible;
                width: auto;
                border-top: 0;
                transition: all 0s;
            }
            @include bp(1200){
                display: block!important;
            }
            li {
                margin-bottom: 19px;
            }
            a {
                color: #ffffff;
                font-weight: 300;
                line-height: 1;
                font-size: 14px;
                &:hover, &:active, &:focus {
                    color: #82cff5;
                    text-decoration: none;
                }
            }
        }
        &:hover {
            > ul {
                padding: 30px 30px 10px;
                max-height: 600px;
                visibility: visible;
                @include bp(1199){

                    padding: 0 30px 0;
                }

            }
        }
    }
    &_footer {
        > li
        a {
            padding: 0 15px 5px;
        }
    }
}
.controls-holder{
    @include bp(1199){
        padding: 15px;
        text-align: center;
    }

}
.soc {
    display: inline-block;
    vertical-align: middle;
    margin-right: 98px;
    @media (max-width: 1599px) {
        margin-right: 48px;
    }
    @media (max-width: 370px){
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
    }
    a {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @include trans;

        + a {
            margin-left: 20px;
        }
    }
}

.login-holder {
    display: inline-block;
    vertical-align: middle;
    a {
        display: inline-block;
        min-width: 150px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        border: 1px solid #fff;
        border-radius: 25px;
        padding: 16px;
        text-align: center;
        @include trans;

        &:before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 16px;
            margin-right: 11px;
            position: relative;
            top: 2px;
            @include trans;

        }
        &:hover {
            text-decoration: none;
            color: #0262df;
            border-color: #0262df;
        }

    }

}

header.fixed {
    position: fixed;
    @include bp(1199){
        position: absolute;
    }
}

#hamburger {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    display: none;
    width: 36px;
    height: 21px;
    transition: .3s ease-in-out;
    cursor: pointer;
    margin-left: 30px;
    @include bp(1199) {
        display: inline-block;
        vertical-align: middle;
    }
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2), &:nth-child(3) {
            top: 9px;
        }
        &:nth-child(4) {
            top: 18px;
        }
    }
    &.open span:nth-child(1) {
        top: 9px;
        width: 0;
        left: 50%;
    }
    &.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    &.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    &.open span:nth-child(4) {
        top: 9px;
        width: 0;
        left: 50%;
    }
}