/*offerings*/
.offerings {
    padding-bottom: 50px;



}

.offerings-wrap {
    text-align: center;
    margin: 0 -15px;
}

.offer {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 280px;
    padding: 0 15px;
    margin-bottom: 30px;
    @include bp(1199){
        margin-bottom: 50px;
    }
    &__title {
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 18px;
        @include bp(1199){
            margin-bottom: 10px;
        }
    }
    &__text {
        line-height: 1.4;
        margin-bottom: 35px;
        @include bp(1199){
            margin-bottom: 10px;
        }

    }
    &__link {
        text-align: center;
    }

}

/*offerings end*/