/* offerings-inner*/
.offerings-inner {
    .text{
        margin-bottom: 75px;
    }
}

.offer-inner {
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 50px;
    @include bp(767){
        text-align: center;
        width: 100%;
        max-width: 350px;
        margin: 0 auto 50px;
    }
    &__img {
        margin-bottom: 28px;
        img {
            max-width: 100%;
        }
    }
    &__title {
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__text {
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 20px;

    }
    &__link {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;


    }
}

/* offerings-inner end*/