/*solutions*/
.solutions{
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),
    url("../img/bg-solutions.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.solutions-wrap{
    margin: 0 -15px;
    text-align: center;


}
.solution-holder{
    width: 100%;
    max-width: 489px;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    margin-bottom: 30px;
    //font-size: 0;
}
.solution{
    padding: 0 0 0 245px;
    position: relative;
    background: #ffffff;
    height: 209px;
    @media (max-width: 499px){
        width: 245px;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }


    &__img{
        position: absolute;
        left: 0;
        top: 0;
        width: 245px;
        height: 209px;
        overflow: hidden;
        @media (max-width: 499px){
            position: static;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info{
        background: #ffffff;
        padding: 70px 20px 10px;
        text-align: left;
        @media (max-width: 499px) {
            padding: 20px;
        }

        }
    &__title{
        /* Style for "MILITARY" */
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
/*solutions end*/

/*solutions-cat */
.solution-cat-sec{
    padding-bottom: 0;
}
.solution-cat-wrap{
    text-align: center;
    margin: 0 -15px;
}
.solution-cat{
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: 0 15px;
    @include bp(991){
        width: 45%;
        margin-bottom: 40px;
    }
    @include bp(991) {
        display: block;
        width: 100%;
        max-width: 490px;
        margin: 0 auto 40px;

    }

        &__img{
        margin-bottom: 28px;
        img{
            max-width: 100%;
        }
    }
    &__butn{
        .butn{
            width: 100%;
            max-width: 268px;
        }

    }
}
/*solutions-cat end*/