@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:600,700|Fira+Sans:300,400,500,700,900&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@-webkit-keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }
@keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@-webkit-keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@-webkit-keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

@media (min-width: 1600px) {
  .container {
    width: 1560px; } }

section {
  padding: 80px 0; }

@media (max-width: 991px) {
  section {
    padding: 50px 0; } }

.section-title {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .section-title {
    font-size: 35px; } }

@media (max-width: 767px) {
  .section-title {
    font-size: 26px; } }

.link-re-mo {
  display: inline-block;
  color: #0262df;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-decoration: underline; }

.link-re-mo:hover, .link-re-mo:active, .link-re-mo:focus {
  color: #0262df;
  text-decoration: none; }

.text {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4; }

.text h2 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 18px; }

.text p {
  margin-bottom: 50px; }

._wh {
  color: #ffffff; }

._grey {
  color: #7c7f82; }

._center {
  text-align: center; }

.a-hidden {
  opacity: 0; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.text-section-title {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center; }

#map {
  height: 370px; }

.map__contact {
  padding-top: 50px;
  width: 100%;
  max-width: 304px;
  margin: 0 auto;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center; }

.map__contact a {
  color: #000000; }

.gal-img {
  margin-bottom: 50px; }

.gal-img img {
  max-width: 100%; }

.center-butn-holder {
  text-align: center; }

/*icons*/
.icon-fb {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%229%22%20height%3D%2219%22%20viewBox%3D%220%200%209%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1373.99%2049.01h-4v-9.5h-1.98v-3.27h1.99v-1.97c0-2.67%201.12-4.26%204.32-4.26h2.66v3.28h-1.66c-1.24%200-1.33.45-1.33%201.3v1.65h3.01l-.35%203.27H1374v9.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1368%20-30)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-fb:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%229%22%20height%3D%2219%22%20viewBox%3D%220%200%209%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1373.99%2049.01h-4v-9.5h-1.98v-3.27h1.99v-1.97c0-2.67%201.12-4.26%204.32-4.26h2.66v3.28h-1.66c-1.24%200-1.33.45-1.33%201.3v1.65h3.01l-.35%203.27H1374v9.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%230262df%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1368%20-30)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-ins {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1476%2035.24v8.52c0%202.89-2.35%205.24-5.24%205.24h-8.52a5.25%205.25%200%200%201-5.24-5.24v-8.52c0-2.89%202.35-5.24%205.24-5.24h8.52c2.89%200%205.24%202.35%205.24%205.24zm-1.69%208.52v-8.52c0-1.96-1.6-3.56-3.55-3.56h-8.52a3.56%203.56%200%200%200-3.55%203.56v8.52c0%201.96%201.6%203.55%203.55%203.55h8.52c1.96%200%203.55-1.6%203.55-3.55zm-2.91-4.26a4.9%204.9%200%201%201-9.8-.01%204.9%204.9%200%200%201%209.8.01zm-1.69%200a3.21%203.21%200%201%200-6.43%200%203.21%203.21%200%200%200%206.43%200zm2.77-5.96a1.24%201.24%200%200%201%200%201.74c-.24.23-.55.37-.88.37a1.24%201.24%200%200%201-1.24-1.24%201.24%201.24%200%200%201%201.24-1.24c.33%200%20.65.14.88.37z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1457%20-30)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-ins:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1476%2035.24v8.52c0%202.89-2.35%205.24-5.24%205.24h-8.52a5.25%205.25%200%200%201-5.24-5.24v-8.52c0-2.89%202.35-5.24%205.24-5.24h8.52c2.89%200%205.24%202.35%205.24%205.24zm-1.69%208.52v-8.52c0-1.96-1.6-3.56-3.55-3.56h-8.52a3.56%203.56%200%200%200-3.55%203.56v8.52c0%201.96%201.6%203.55%203.55%203.55h8.52c1.96%200%203.55-1.6%203.55-3.55zm-2.91-4.26a4.9%204.9%200%201%201-9.8-.01%204.9%204.9%200%200%201%209.8.01zm-1.69%200a3.21%203.21%200%201%200-6.43%200%203.21%203.21%200%200%200%206.43%200zm2.77-5.96a1.24%201.24%200%200%201%200%201.74c-.24.23-.55.37-.88.37a1.24%201.24%200%200%201-1.24-1.24%201.24%201.24%200%200%201%201.24-1.24c.33%200%20.65.14.88.37z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%230262df%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1457%20-30)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-tw {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2213%22%20viewBox%3D%220%200%2017%2013%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1425%2034.8c-.64.26-1.9.37-2.48.4%201.06-.54%201.61-1.18%201.87-1.95-.67.38-1.5.54-2.28.69a3.25%203.25%200%200%200-2.44-.93%203.37%203.37%200%200%200-3.45%203.28c0%20.26.03.5.09.75a10%2010%200%200%201-7.13-3.43c-.3.48-.46%201.05-.46%201.65%200%201.14%201.37%202.25%202.3%202.84a7.75%207.75%200%200%201-2.33-.52v.04c0%201.59%201.92%202.94%203.5%203.24-.29.08-1.33.1-1.64.1-.22%200-.44-.03-.65-.07a3.44%203.44%200%200%200%203.23%202.28%207.17%207.17%200%200%201-5.12%201.36c1.53.93%203.35%201.47%205.3%201.47%206.36%200%209.83-5%209.83-9.33%200-.14.06-.04.05-.18a7.2%207.2%200%200%200%201.81-1.7z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1408%20-33)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-tw:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2213%22%20viewBox%3D%220%200%2017%2013%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1425%2034.8c-.64.26-1.9.37-2.48.4%201.06-.54%201.61-1.18%201.87-1.95-.67.38-1.5.54-2.28.69a3.25%203.25%200%200%200-2.44-.93%203.37%203.37%200%200%200-3.45%203.28c0%20.26.03.5.09.75a10%2010%200%200%201-7.13-3.43c-.3.48-.46%201.05-.46%201.65%200%201.14%201.37%202.25%202.3%202.84a7.75%207.75%200%200%201-2.33-.52v.04c0%201.59%201.92%202.94%203.5%203.24-.29.08-1.33.1-1.64.1-.22%200-.44-.03-.65-.07a3.44%203.44%200%200%200%203.23%202.28%207.17%207.17%200%200%201-5.12%201.36c1.53.93%203.35%201.47%205.3%201.47%206.36%200%209.83-5%209.83-9.33%200-.14.06-.04.05-.18a7.2%207.2%200%200%200%201.81-1.7z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%230262df%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1408%20-33)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-user:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1614.15%2036.48c0-2.47%202.16-4.48%204.82-4.48s4.82%202%204.82%204.48c0%202.49-2.16%204.5-4.82%204.5s-4.82-2.03-4.82-4.5zm1.27%200c0%201.82%201.6%203.31%203.55%203.31%201.95%200%203.55-1.49%203.55-3.3%200-1.83-1.6-3.32-3.55-3.32-1.95%200-3.55%201.5-3.55%203.31zM1610%2047.41c0-3.12%202.72-5.64%206.04-5.64h5.92c3.34%200%206.04%202.53%206.04%205.64%200%20.33-.28.59-.64.59h-16.72c-.36%200-.64-.26-.64-.6zm1.32-.6h15.36a4.67%204.67%200%200%200-4.72-3.86h-5.92a4.68%204.68%200%200%200-4.72%203.86z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1610%20-32)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-user:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1614.15%2036.48c0-2.47%202.16-4.48%204.82-4.48s4.82%202%204.82%204.48c0%202.49-2.16%204.5-4.82%204.5s-4.82-2.03-4.82-4.5zm1.27%200c0%201.82%201.6%203.31%203.55%203.31%201.95%200%203.55-1.49%203.55-3.3%200-1.83-1.6-3.32-3.55-3.32-1.95%200-3.55%201.5-3.55%203.31zM1610%2047.41c0-3.12%202.72-5.64%206.04-5.64h5.92c3.34%200%206.04%202.53%206.04%205.64%200%20.33-.28.59-.64.59h-16.72c-.36%200-.64-.26-.64-.6zm1.32-.6h15.36a4.67%204.67%200%200%200-4.72-3.86h-5.92a4.68%204.68%200%200%200-4.72%203.86z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%230262df%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1610%20-32)%22%2F%3E%3C%2Fsvg%3E"); }

/*icons end*/
/*buttons*/
.butn {
  display: inline-block;
  min-width: 183px;
  padding: 15px;
  background-color: #0262df;
  border: 2px solid #0262df;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn:hover, .butn:focus, .butn:active {
  color: #0262df;
  background-color: transparent;
  text-decoration: none; }

/*buttons end*/
header {
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  height: 80px; }

header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #aeb6bc;
  height: 2px; }

.header-container {
  position: relative;
  padding-left: 200px;
  height: 100%; }

.nav-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 1199px) {
  .nav-holder {
    display: none;
    position: absolute;
    top: 100%;
    background: #000;
    left: 0;
    width: 100%; } }

@media (min-width: 1200px) {
  .nav-holder {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

.logo-header {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.logo-header img {
  height: 63px;
  max-height: 100%; }

@media (max-width: 1599px) {
  .logo-header {
    margin-right: 10px; } }

.nav-main {
  list-style: none; }

.nav-main > li {
  display: inline-block;
  position: relative; }

@media (max-width: 1199px) {
  .nav-main > li {
    display: block;
    border-bottom: 2px solid;
    padding: 0 70px 0 30px; }
  .nav-main > li.drop-list:before {
    content: "";
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    right: 30px;
    top: 9px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff; }
  .nav-main > li.drop-list.open:before {
    top: 20px;
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg); } }

.nav-main > li + li {
  margin-left: 50px; }

@media (max-width: 1599px) {
  .nav-main > li + li {
    margin-left: 5px; } }

.nav-main > li > a {
  padding: 32px 15px;
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  position: relative; }

.nav-main > li > a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #82cff5;
  z-index: 9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0; }

.nav-main > li > a:hover {
  text-decoration: none; }

.nav-main > li > a:hover:after {
  opacity: 1; }

@media (max-width: 1199px) {
  .nav-main > li > a {
    display: inline-block;
    padding: 15px; }
  .nav-main > li > a:after {
    display: none; } }

.nav-main > li.current a:after {
  opacity: 1; }

.nav-main > li > ul {
  position: absolute;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 191px;
  top: -webkit-calc(100% - 2px);
  top: calc(100% - 2px);
  border-top: 2px solid #82cff5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
  background: #000;
  padding: 0 30px 0; }

@media (max-width: 1199px) {
  .nav-main > li > ul {
    display: none;
    position: static;
    max-height: 600px;
    visibility: visible;
    width: auto;
    border-top: 0;
    -webkit-transition: all 0s;
    transition: all 0s; } }

@media (min-width: 1200px) {
  .nav-main > li > ul {
    display: block !important; } }

.nav-main > li > ul li {
  margin-bottom: 19px; }

.nav-main > li > ul a {
  color: #ffffff;
  font-weight: 300;
  line-height: 1;
  font-size: 14px; }

.nav-main > li > ul a:hover, .nav-main > li > ul a:active, .nav-main > li > ul a:focus {
  color: #82cff5;
  text-decoration: none; }

.nav-main > li:hover > ul {
  padding: 30px 30px 10px;
  max-height: 600px;
  visibility: visible; }

@media (max-width: 1199px) {
  .nav-main > li:hover > ul {
    padding: 0 30px 0; } }

.nav-main_footer > li
a {
  padding: 0 15px 5px; }

@media (max-width: 1199px) {
  .controls-holder {
    padding: 15px;
    text-align: center; } }

.soc {
  display: inline-block;
  vertical-align: middle;
  margin-right: 98px; }

@media (max-width: 1599px) {
  .soc {
    margin-right: 48px; } }

@media (max-width: 370px) {
  .soc {
    display: block;
    margin-right: 0;
    margin-bottom: 15px; } }

.soc a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.soc a + a {
  margin-left: 20px; }

.login-holder {
  display: inline-block;
  vertical-align: middle; }

.login-holder a {
  display: inline-block;
  min-width: 150px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border: 1px solid #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 16px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.login-holder a:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-right: 11px;
  position: relative;
  top: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.login-holder a:hover {
  text-decoration: none;
  color: #0262df;
  border-color: #0262df; }

header.fixed {
  position: fixed; }

@media (max-width: 1199px) {
  header.fixed {
    position: absolute; } }

#hamburger {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  display: none;
  width: 36px;
  height: 21px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
  margin-left: 30px; }

@media (max-width: 1199px) {
  #hamburger {
    display: inline-block;
    vertical-align: middle; } }

#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 9px; }

#hamburger span:nth-child(4) {
  top: 18px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

/*banner*/
.banner {
  min-height: 730px;
  padding: 80px 0 0;
  background: url("../img/bg-banner.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden; }

@media (max-width: 991px) {
  .banner {
    min-height: 1px;
    padding-bottom: 40px; } }

.banner__img {
  position: absolute;
  bottom: 0;
  right: 0; }

@media (max-width: 1599px) {
  .banner__img {
    max-width: 700px; } }

@media (max-width: 1199px) {
  .banner__img {
    display: none; } }

.banner__text-holder {
  padding-top: 180px;
  max-width: 680px; }

@media (max-width: 991px) {
  .banner__text-holder {
    font-size: 30px;
    padding-top: 80px; } }

@media (max-width: 1199px) {
  .banner .container {
    max-width: 680px;
    padding-left: 55px; } }

.banner__title {
  position: relative;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 30px; }

@media (max-width: 1199px) {
  .banner__title {
    font-size: 35px; } }

@media (max-width: 991px) {
  .banner__title {
    font-size: 30px; } }

@media (max-width: 767px) {
  .banner__title {
    font-size: 24px; } }

.banner__title-decor {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  bottom: -webkit-calc(100% - 10px);
  bottom: calc(100% - 10px);
  right: -webkit-calc(100% - 7px);
  right: calc(100% - 7px); }

.banner__title-decor:before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 20px solid #0262df;
  left: 0;
  top: 0; }

.banner__subtitle {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 30px; }

/*banner end*/
/*offerings*/
.offerings {
  padding-bottom: 50px; }

.offerings-wrap {
  text-align: center;
  margin: 0 -15px; }

.offer {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 280px;
  padding: 0 15px;
  margin-bottom: 30px; }

@media (max-width: 1199px) {
  .offer {
    margin-bottom: 50px; } }

.offer__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 18px; }

@media (max-width: 1199px) {
  .offer__title {
    margin-bottom: 10px; } }

.offer__text {
  line-height: 1.4;
  margin-bottom: 35px; }

@media (max-width: 1199px) {
  .offer__text {
    margin-bottom: 10px; } }

.offer__link {
  text-align: center; }

/*offerings end*/
/*solutions*/
.solutions {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../img/bg-solutions.png") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/bg-solutions.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/bg-solutions.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed; }

.solutions-wrap {
  margin: 0 -15px;
  text-align: center; }

.solution-holder {
  width: 100%;
  max-width: 489px;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-bottom: 30px; }

.solution {
  padding: 0 0 0 245px;
  position: relative;
  background: #ffffff;
  height: 209px; }

@media (max-width: 499px) {
  .solution {
    width: 245px;
    height: auto;
    padding: 0;
    margin: 0 auto; } }

.solution__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 245px;
  height: 209px;
  overflow: hidden; }

@media (max-width: 499px) {
  .solution__img {
    position: static; } }

.solution__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.solution__info {
  background: #ffffff;
  padding: 70px 20px 10px;
  text-align: left; }

@media (max-width: 499px) {
  .solution__info {
    padding: 20px; } }

.solution__title {
  /* Style for "MILITARY" */
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 20px; }

/*solutions end*/
/*solutions-cat */
.solution-cat-sec {
  padding-bottom: 0; }

.solution-cat-wrap {
  text-align: center;
  margin: 0 -15px; }

.solution-cat {
  display: inline-block;
  text-align: center;
  width: 33%;
  padding: 0 15px; }

@media (max-width: 991px) {
  .solution-cat {
    width: 45%;
    margin-bottom: 40px; } }

@media (max-width: 991px) {
  .solution-cat {
    display: block;
    width: 100%;
    max-width: 490px;
    margin: 0 auto 40px; } }

.solution-cat__img {
  margin-bottom: 28px; }

.solution-cat__img img {
  max-width: 100%; }

.solution-cat__butn .butn {
  width: 100%;
  max-width: 268px; }

/*solutions-cat end*/
/*whowe*/
.whowe .text {
  margin: 0 auto 30px;
  max-width: 1268px; }

.whowe__butn {
  text-align: center; }

/*whowe end*/
/*banner inner*/
.banner-inner {
  min-height: 280px;
  padding: 80px 0 0;
  background: url("../img/bg-banner.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden; }

@media (max-width: 991px) {
  .banner-inner {
    min-height: 1px;
    padding-bottom: 40px; } }

.banner-inner__title {
  position: relative;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 70px;
  text-align: center; }

@media (max-width: 1199px) {
  .banner-inner__title {
    font-size: 35px; } }

@media (max-width: 991px) {
  .banner-inner__title {
    font-size: 30px; } }

@media (max-width: 767px) {
  .banner-inner__title {
    font-size: 24px; } }

/*banner-inner end*/
/* offerings-inner*/
.offerings-inner .text {
  margin-bottom: 75px; }

.offer-inner {
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 50px; }

@media (max-width: 767px) {
  .offer-inner {
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin: 0 auto 50px; } }

.offer-inner__img {
  margin-bottom: 28px; }

.offer-inner__img img {
  max-width: 100%; }

.offer-inner__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 15px; }

.offer-inner__text {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px; }

.offer-inner__link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* offerings-inner end*/
/*aircraft*/
.aircraft__vid {
  margin-bottom: 35px; }

.aircraft__title {
  color: #000000;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px; }

@media (max-width: 1199px) {
  .aircraft__title {
    font-size: 22px; } }

.aircraft__title span {
  color: #999999;
  font-weight: 400;
  text-transform: none; }

.spec-table {
  width: 100%;
  border: 1px solid #c9cdcf;
  font-size: 18px;
  color: #000000;
  margin-bottom: 50px; }

.spec-table th {
  font-weight: 700;
  text-transform: uppercase;
  padding: 17px;
  border: 1px solid #c9cdcf; }

@media (max-width: 1199px) {
  .spec-table th {
    padding: 12px; } }

.spec-table tr:first-child {
  background-color: #f2f7fd; }

.spec-table tr td:first-child {
  color: #999999;
  width: 35%; }

.spec-table td {
  border: 1px solid #c9cdcf;
  padding: 17px; }

@media (max-width: 1199px) {
  .spec-table td {
    padding: 12px;
    font-size: 16px; } }

.spec-table .list ul {
  list-style: none;
  color: #000000;
  font-weight: 400; }

.spec-table .list ul li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px; }

.spec-table .list ul li:before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #0262df;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 0;
  top: 5px; }

/*aircraft end*/
/*.call-to-action*/
.call-to-action {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../img/bg-solutions.png") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/bg-solutions.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/bg-solutions.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed; }

.call-to-action__butn {
  text-align: center; }

.call-to-action__butn .butn {
  width: 100%;
  max-width: 268px; }

.call-to-action .text {
  margin-bottom: 40px; }

/*call-to-action end*/
/*about-us-sec*/
.about-us-sec .text {
  max-width: 1060px;
  margin: 0 auto 44px; }

.gal-about {
  margin: 0 -15px 10px;
  text-align: center;
  font-size: 0; }

.gal-about .gal-img {
  display: inline-block;
  width: 33%;
  padding: 0 15px;
  margin-bottom: 30px; }

@media (max-width: 767px) {
  .gal-about .gal-img {
    width: 50%; } }

/*about-us-sec end*/
footer {
  background: #000;
  padding: 10px 0; }

footer .logo {
  margin-right: 30px; }

.footer__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 991px) {
  .footer__wrap {
    display: block;
    padding-bottom: 20px;
    position: relative; } }

@media (max-width: 991px) {
  .footer__item {
    text-align: center;
    margin-bottom: 20px; }
  .footer__item .logo {
    margin-right: 0; } }

.nav-main_footer {
  list-style: none; }

.nav-main_footer li {
  display: inline-block;
  margin-bottom: 10px; }

.nav-main_footer a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1; }

.soc_footer {
  margin-right: 0; }

.copy {
  display: inline-block;
  color: #ffffff; }

@media (max-width: 991px) {
  .copy {
    position: absolute;
    bottom: 4px;
    margin-bottom: 0;
    left: 0;
    right: 0;
    text-align: center; } }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: .8; }

.close-x:before, .close-x:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }
