main
	section.banner-inner
		.container
			.banner-inner__title About us
	section.about-us-sec
		.container
			.gal-about
				.gal-img
					img(src='img/img-about1.png' alt)
				.gal-img
					img(src='img/img-about2.png' alt)
				.gal-img
					img(src='img/img-about3.png' alt)
			.text._center
				|DroneTechUAV Corporation is a privately owned company with headquarters based in San Antonio, Texas, USA that specializes in designing innovative and state of the art Unmanned Aerial Vehicles (UAVs).  Standard UAV technology is unreliable, costly, and operationally complex. The company’s aircraft are designed to break this mold by maximizing reliability, endurance, payload capacity and payload flexibility at a much lower cost.
			.center-butn-holder
				a.butn(href='#') Contact us

