main
	section.banner-inner
		.container
			.banner-inner__title aircraft class
	section
		.container
			.row
				.col-sm-6
					.aircraft
						.aircraft__vid
							<div class="videoWrapper">
							<iframe width="560" height="349" src="https://www.youtube.com/embed/H5sPH6N2s-o"></iframe>
							</div>
						.aircraft__title AV-1 Albatross-Class <span>(​Group #3 Endurance UAV)</span>
						.aircraft__spec
							table.spec-table
								tr
									th(colspan='2') Specifications
								tr
									td Horizontal engine:
									td 2 Fuel
								tr
									td Useful Load
									td 68 kg (150 lb)
								tr
									td Maximum fuel:
									td 80 lts (56 kg)
								tr
									td Endurance:
									td 60 hrs @ 0kg
								tr
									td 2 Stroke
									td version with on-board starter (runway dependent)
								tr
									td Takeoff distance:
									td 350 m (1,155 ft) @ Sea level
								tr
									td Max. takeoff weight:
									td 128 kg (280 lb)
								tr
									td Basic empty weight:
									td 60 kg (132 lb)
								tr
									td Loiter speed:
									td 65kt
								tr
									td Maximum speed:
									td 80 kt
								tr
									td Service ceiling:
									td 4,570 m (15,000 ft)
								tr
									td Maximum rate of climb:
									td 4.5 m/s (900 fpm)
								tr
									td Telemetry data link range:
									td 20 to 100km nominal non-ITAR.
							table.spec-table
								tr
									th(colspan='2') ​Dimensions
								tr
									td Length:
									td 3 m (9.84 ft)
								tr
									td Wingspan:
									td 5.4 m (17.7 ft)​
								tr
									td Internal volume:
									td 175 lt  (6.2 cu ft)
								tr
									td Payload bay dimensions:
									td 60 cm x 30 cm x 30 cm
							table.spec-table
								tr
									th Safety Features
								tr.list
									td
										ul
											li All critical systems redundancy
											li Triple redundant autopilot
											li Two horizontal forward thrust engines
											li 2 pitot tubes
											li 2 fuel tanks
											li Redundant control surfaces
											li Automatic "Go-Home and land" if link signal is lost
											li Fly by-wire (computer limited commands) if flown manually ​​
				.col-sm-6
					.aircraft
						.aircraft__vid
							<div class="videoWrapper">
							<iframe width="560" height="349" src="https://www.youtube.com/embed/QGGESzh0W38"></iframe>
							</div>
						.aircraft__title  AV-2 Pelican-Class <span>(​Group #2 Endurance UAV)</span>
						.aircraft__spec
							//
							//
							//
							//
							//
							//
							//
							//according to specs
							//according to specs
							//according to specs
							//according to specs
							//according to specs
							//according to specs
							table.spec-table
								tr
									th(colspan='2') Specifications
								tr
									td Horizontal engine:
									td 2 Fuel
								tr
									td VTOL Pods:
									td 8 Electric motors
								tr
									td Maximum fuel:
									td 8 lts (5.56 kg)
								tr
									td Endurance:
									td up to 60 hours​ @ 0kg payload
								tr
									td 2 Stroke
									td version with on-board starter (not runway dependent)
								tr
									td Max. takeoff weight:
									td 20-36 kg (44-79 lb)​
								tr
									td Basic empty weight:
									td 26.5 kg (57 lb)
								tr
									td Loiter speed:
									td according to specs
								tr
									td Maximum speed:
									td according to specs
								tr
									td Vertical propulsion engine:
									td according to specs
								tr
									td Max. Service ceiling:
									td according to specs
								tr
									td Maximum rate of climb:
									td according to specs
								tr
									td Telemetry data link range:
									td according to specs
							table.spec-table
								tr
									th(colspan='2') ​Dimensions
								tr
									td Length:
									td 1.5 m (4.92 ft)
								tr
									td Wingspan:
									td 3.7 m (12.1 ft)
								tr
									td Internal volume:
									td according to specs
								tr
									td Payload bay dimensions:
									td according to specs
							table.spec-table
								tr
									th Safety Features
								tr.list
									td
										ul
											li All critical systems redundancy
											li Triple redundant autopilot
											li Two horizontal forward thrust engines
											li 2 pitot tubes
											li 2 fuel tanks
											li Redundant control surfaces
											li Automatic "Go-Home and land" if link signal is lost
											li Fly by-wire (computer limited commands) if flown manually ​​