main
	section.banner
		.container
			.banner__text-holder
					.banner__title
						span.banner__title-decor
						|Total commitment
						|to a cost effective, reliable,
						|practical and fast deployment
					.banner__subtitle  DroneTechUAV is a leading U.S. manufacturer of unmanned aerial systems (UASs)
						|for experienced professionals.
					.banner__butn
						a.butn(href='#') Learn More
		.banner__img.jsAppRight.a-hidden
			img(src='img/img-banner.png' alt='')
	section.offerings
		.container
			.section-title.jsAppUp Our offerings
			.offerings-wrap.jsAppUp
				.offer
					.offer__title CONSULTANCY <br>SERVICES
					.offer__text Our professional services
						|encompass a concise framew	ork
						|review of the cost-benefit matrix
					.offer__link
						a.link-re-mo(href='#') Learn more
				.offer
					.offer__title aircraft<br>
						|solutions
					.offer__text Whatever your needs, DroneTechUAV will work with you to create a tailored solution to meet them
					.offer__link
						a.link-re-mo(href='#') Learn more
				.offer
					.offer__title fleet<br>
						|services
					.offer__text A DroneTechUAV Lease is ideal for anyone who flies 20 or more hours per month
					.offer__link
						a.link-re-mo(href='#') Learn more

				.offer
					.offer__title shared<br>
						|services
					.offer__text Enjoy all the advantages of whole aircraft ownership and more – without the management responsibilities
					.offer__link
						a.link-re-mo(href='#') Learn more
				.offer
					.offer__title staffing<br>
						|solutions
					.offer__text The DroneTechUAV Jet Card is ideal for anyone who flies under 20 hours per month
					.offer__link
						a.link-re-mo(href='#') Learn more
	section.solutions
		.container
			.section-title._wh.jsAppUp SOLUTIONS
			.solutions-wrap.jsAppUp
				.solution-holder
					.solution
						.solution__img
							img(src='img/img-solution1.png' alt)
						.solution__info
							.solution__title MILITARY
								| APPLICATIONS
							.solution__link
								a.link-re-mo(href='#') Learn more
				.solution-holder
					.solution
						.solution__img
							img(src='img/img-solution2.png' alt)
						.solution__info
							.solution__title comercial
								|APPLICATIONS
							.solution__link
								a.link-re-mo(href='#') Learn more
				.solution-holder
					.solution
						.solution__img
							img(src='img/img-solution3.png' alt)
						.solution__info
							.solution__title Civil
								|APPLICATIONS
							.solution__link
								a.link-re-mo(href='#') Learn more
	section.whowe
		.container
			.section-title.jsAppUp WHO WE ARE
			.text._center.jsAppUp
				|DroneTechUAV Corporation is a privately owned company with headquarters based in San Antonio, Texas, USA that specializes in designing innovative and state of the art Unmanned Aerial Vehicles (UAVs).  Standard UAV technology is unreliable, costly, and operationally complex. The company’s aircraft are designed to break this mold by maximizing reliability, endurance, payload capacity and payload flexibility at a much lower cost.
			.whowe__butn.jsAppUp
				a.butn(href='#') Book a consultation









