header
	.container.header-container
			a.logo-header(href='#')
				img(src='img/logo.png' alt='logo dronetech')
			.nav-holder
				ul#nav.nav-main
					li.current
						a(href='index.html') Home
					li
						a(href='offerings.html') Offerings
						ul
							li
								a(href='#') Consultancy Services
							li
								a(href='#') Aircraft Solutions
							li
								a(href='#') Fleet Services
							li
								a(href='#') Shared Services
							li
								a(href='#') Staffing Solutions
					li
						a(href='aircraft.html') Aircraft Class
						ul
							li
								a(href='#') AV-1 Albatross - class

							li
								a(href='#') AV-2 Pelican - class
					li
						a(href='solutions.html') Solutions
						ul
							li
								a(href='text_page.html') Military Applications
							li
								a(href='text_page.html') Enterprise Applications
							li
								a(href='text_page.html') Civil Applications
					li
						a(href='about.html') About Us
						ul
							li
								a(href='#') Team Members
							li
								a(href='#') Partner Program
				.controls-holder
					.soc
						a.soc__fb.icon-fb(href='#')
						a.soc__tw.icon-tw(href='#')
						a.soc__ins.icon-ins(href='#')
					.login-holder
						a.icon-user(href='#') Log In
			#hamburger(role='button')
				span
				span
				span
				span

