main
	section.banner-inner
		.container
			.banner-inner__title Offerings
	section.offerings-inner
		.container
			.text._center
				|DroneTechUAV understands that every vertical market has its own autonomous aerial applications requirements.
				|​However, full scale UAV program implementation may present many unforeseen obstacles and expenses.
				|Bring us on board to assist with operating environment analysis, operating procedure framework development and in-field implementation.
			.row.jsOfferInnerWrap
				.col-sm-6.col-md-3
					.offer-inner
						.offer-inner__img
							img(src='img/img-offer1.png')
						.offer-inner__title Consultancy Services
						.offer-inner__text Our professional services encompass a concise framework review of the cost-benefit matrix using to pursue a long-term implementation of business operations to determine if to acquire or custom develop uses of technology.
						.offer-inner__link
							a.link-re-mo(href='#') Learn more

				.col-sm-6.col-md-3
					.offer-inner
						.offer-inner__img
							img(src='img/img-offer2.png')
						.offer-inner__title Fleet Services
						.offer-inner__text A DroneTechUAV Lease is ideal for anyone who flies 20 or more hours per month and wants the financial flexibility afforded by aircraft leasing versus aircraft ownership.
							|Get the same private unmanned aerial aircraft service quality of DroneTechUAV Share™, without the upfront capital investment.
						.offer-inner__link
							a.link-re-mo(href='#') Learn more

				.col-sm-6.col-md-3
					.offer-inner
						.offer-inner__img
							img(src='img/img-offer3.png')
						.offer-inner__title Shared services
						.offer-inner__text A DroneTechUAV Share is ideal for anyone who flies 20 or more hours per year and wants the advantages of owning an asset.
							|Enjoy all the advantages of whole aircraft ownership and more – without the management responsibilities.
						.offer-inner__link
							a.link-re-mo(href='#') Learn more

				.col-sm-6.col-md-3
					.offer-inner
						.offer-inner__img
							img(src='img/img-offer4.png')
						.offer-inner__title staffing solutions
						.offer-inner__text The DroneTechUAV Jet Card is ideal for anyone who flies under 20 hours per month, prefers a short-term commitment, or simply wants to experience what it is all about.
						.offer-inner__link
							a.link-re-mo(href='#') Learn more