main
	section.banner-inner
		.container
			.banner-inner__title Solutions
	section.solution-cat-sec
		.container
			.solution-cat-wrap
				.solution-cat.jsAppUp.a-hidden
					.solution-cat__img
						img(src='img/img-sol-cat1.png' alt)
					.solution-cat__butn
						a.butn(href='text_page.html') Military Applications
				.solution-cat.jsAppUp.a-hidden
					.solution-cat__img
						img(src='img/img-sol-cat2.png' alt)
					.solution-cat__butn
						a.butn(href='text_page.html') Commercial Applications
				.solution-cat.jsAppUp.a-hidden
					.solution-cat__img
						img(src='img/img-sol-cat3.png' alt)
					.solution-cat__butn
						a.butn(href='text_page.html') Civil Applications
	section.map
		.container
			#map.jsAppUp
			.map__contact.jsAppUp
				p DroneTechUAV Corporation
					|9901 Interstate 10 West, Suite 800
					|San Antonio, Texas U.S.A. 78230-2299

				a(href='tel:+12102011163') +1.210.201.1163
				a(href='mailto:​info@dronetechuav.com​') ​info@dronetechuav.com​

