doctype html
html
	head
		include ./_head
	body
		include ./components/_header
		include ./components/_about_content
		include ./components/_footer
		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.viewportchecker.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		//- endinject