doctype html
html
	head
		include ./_head
	body
		include ./components/_header
		include ./components/_solutions_content
		include ./components/_footer
		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.viewportchecker.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")


		//- endinject
		script.
					var map;
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
						center: {lat: 29.533980, lng: -98.562112},
						zoom: 17,

						});

						var marker = new google.maps.Marker({
							position: {lat: 29.533980, lng: -98.562112},
							map: map,
							icon: '',
						});
					}
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdVinPf96AY-ElsoA6y92WEtr0EFAJDkk&callback=initMap', async='', defer='')